.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25vh;
    background-color: $colorGrey;

    .principal{
        margin: 1em;
    }
  
    .nav{
        width: 100%;

        .list{
            display: flex;
            width: 100%;
            text-transform: uppercase;
            justify-content: center;

            .listItem{
                width: 4em;
                border: 1.25px solid $colorBlack;
                padding: 0.5em;
                margin: 0 1em 1em 1em;
                border-radius: 30px;

                .login{
                    color: $colorBlue;
                }

            }

            .loginItem{
                border: 1.25px solid $colorBlue;
            }

        }

    } 

}







