.inserir{
    width: 100%;

    .insertForm{
        @extend %formDefault;

        .input{
            @extend %inputDefault;
        }

        .input:nth-child(2){
            margin: 1rem 0 1rem 0;
        }

        .button{
            @extend %buttonDefault;
        }

        .message{
            display: none;
            margin: 1em;
        }

        .select{
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.90rem;
            @extend %robotoFont;
            @include border($colorGreyS);
            @include borderRadius(12px);

            .option{
                background-color: $colorGrey;
            }                           
        }

        
    }

}
