@mixin border($color: $colorBlack) {
	border: 1.25px solid $color;
}

@mixin borderRadius($radius: 30px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

%robotoFont{
	font: 1rem "Roboto",sans-serif;
}

%formDefault{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

%inputDefault{
	width: calc(100% - 2.1rem);
	height: 1rem;
	@include border($colorGreyS);
	@include borderRadius(12px);
	@extend %robotoFont;
	padding: 1rem;
}

%buttonDefault{
	width: 100%;
	height: 3rem;
	background-color: $colorBlue;
	color: $colorWhite;
	@include border($colorBlue);
	@include borderRadius(12px);
	@extend %robotoFont;
}

@mixin select($width: 100%){
	width: $width;
	margin-bottom: 1rem;
	padding: 0.90rem;
	@extend %robotoFont;
	@include border($colorGreyS);
	@include borderRadius(12px);

	.option{
	    background-color: $colorWhite;
	}
}
	